<div class="row">

　<div class="col-lg-offset-3 col-md-6 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
　  
    <%= form_for(task) do |f| %>
      
      <div class="form-group">
        <%= f.label :content,label_of_content_form %>
        <%= f.text_field :content, class: "form-control" %>
    
          <%= f.label :status,"ステータスを選択" %>
          <%= f.select :status, ["未着手","進行中","完了","放棄"], {} , class: "form-control" %>
    
        <%= f.submit value_of_submit, class: 'btn btn-primary' %>
      </div>
      
    <% end %>

　</div>
</div>