<h1><%= current_user.name %>氏のタスク一覧</h1>

<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th class="text-center">id</th>
      <th class="text-center">ステータス</th>
      <th class="text-center">タスク</th>
    </tr>
  </thead>
  <tbody>
    <% tasks.each do |task| %>
      <% if task.status == "未着手" %>
        <% which_status = "active" %>
      <% elsif task.status == "進行中" %>
        <% which_status = "info" %>    
      <% elsif task.status == "完了" %>
        <% which_status = "success" %> 
      <% else %>
        <% which_status = "warning" %> 
      <% end %>
      <tr class=<%= which_status %>>
        <td class="text-right"><%= link_to task.id, task %></td>
        <td class="text-center"><%= task.status %></td>
        <td><%= task.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<button class="btn btn-default" type="submit"><%= link_to "新しいタスクの作成",new_task_path %></button>
