<h1>タスク<%= @task.id %>の詳細</h1>

<p>タスク : <%= @task.content %></p>
<p>ステータス : <%= @task.status %></p>

<%= link_to "タスク一覧に戻る",tasks_path %>
<%= link_to "タスクの編集",edit_task_path %>
<%= link_to "タスクの削除","", method: :delete %>